<h2>ADD EMPLOYEE</h2>
<form #add=ngForm (ngSubmit)="addEmployee(add)">
<table>
   
      <tr>
        <td><label>ID</label></td>
        <td><input type="text" name="id" [(ngModel)]="add.empId"></td>
        <span *ngIf="showIdValidation">This field is required</span>
        <br/>
      </tr>
      <tr>
        <td><label>Name</label></td>
        <td><input type="text" name="name" [(ngModel)]="add.empName"></td>
        <span *ngIf="showNameValidation">This field is required</span>
        <br/>
        </tr>
        <tr>
        <td><label>Salary</label></td>
        <td><input type="text" name="name" [(ngModel)]="add.empSal"></td>
        <span *ngIf="showNameValidation">This field is required</span> 
        <br/>
        </tr>
        <tr>
        <td><label>Department</label></td>
        <td><input type="text" name="name" [(ngModel)]="add.empDep"></td>
        <span *ngIf="showNameValidation">This field is required</span> 
        <br/>
        </tr>
        <button type="submit" value="add employee">Add Employee</button>
      
      </table>
    </form>
   <br>
     
